.card {
  
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-bottom: 20px;

  &__img {
    width: 100%;
    height: 100%;
  }

  &__container {
    height: 420px;
  }

  &__content {
    padding: 10px 20px;
    background-color: #222222;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
  }

  &__dscrip {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
