.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #222222;

    &__text{
        font-size: 16px;
        font-weight: 700;
        color: #E5E5E5;
    }
}