.form {
  display: flex;
  flex-direction: column;
  padding: 60px 65px;
  background-color: #c4c4c4;
  border-radius: 10px;

  &__input {
    padding: 15px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: 25px;
  }

  &__label {
    font-size: 24px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 15px;
  }

  &__error {
    color: #E50914;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  &__submit--space {
      margin-top: 44px;
  }
}

.content__wrapper{
  &--margin {
      margin-top: 120px;
  }
}
