.form {
    display: flex;
    flex-direction: column;
    padding: 50px 55px;
    background-color: #c4c4c4;
    border-radius: 10px;
    margin-top: 80px;
    width: 500px;
  
    &__input {
      padding: 15px;
      border-radius: 4px;
      outline: none;
      border: none;
      margin-bottom: 25px;
    }
  
    &__label {
      font-size: 24px;
      font-weight: 700;
      color: #222222;
      margin: 0;
    }
  
    &__error {
      color: #E50914;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    
    &__submit--space {
        margin-top: 44px;
    }
  }