* {
  font-family: "Rajdhani", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &__wrapper {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__movies {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    grid-gap: 20px;
  }
}
