.btn {
  background-color: #e50914;
  color: #e5e5e5;

  font-size: 16px;
  line-height: 16px;
  border: none;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border: 1px solid #e50914;

  &--medium{
    padding: 10px 25px;
    align-self: flex-start;
  }

  &--large{
    padding: 10px 35px;
    align-self: center;
  }

  &--transperent {
    background-color: transparent;
  }
}