.ThemeSelect {
    margin: 15px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    outline: none;
  
    background: var(--text-color);
    color: var(--background-color);
  }